.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
migrate_working_dir/
.agent/


########## 2. FLUTTER & DART ##########
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json

# Khai báo riêng cho công cụ build của Android Studio
/android/app/debug
/android/app/profile
/android/app/release


########## 3. BACKEND (NODE.JS / NESTJS / EXPRESS) ##########
node_modules/
npm-debug.log
yarn-error.log
dist/
/backend/dist/
/backend/node_modules/

# Files cấu hình môi trường (Quan trọng: Không bao giờ commit file chứa secret)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
